$degrade:linear-gradient(90deg, #4B7020, #588E2E, #65a624,#212F3C);
$color-titulos:  #212F3C;
$color-secundario:#efefef;
$degrade2:linear-gradient(135deg, #4B7020,#588E2E,#65a624,#d0f2ae);
$fuenteprincipal:url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
$colorteriario:  #B8D944;